# Analyzing Grade Trends in my College Career

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

## Get data

In [11]:
df = pd.read_csv('Transcript.csv')

In [12]:
df.head()

      CLASS                              NAME GRADE        DATE
0  MATH 112     Functions & Algebraic Methods    C-   6/16/2014
1  PHIL 102             Introduction to Logic     F   6/17/2014
2  PSY  220     Intro Behavioral Neuroscience    C+   6/17/2014
3       NaN                               NaN   NaN         NaN
4  C2C  201  C2C Youth Mentoring I - CLASS  3    A-  12/15/2014

In [13]:
df.tail()

       CLASS                                            NAME GRADE        DATE
49       NaN                                             NaN   NaN         NaN
50  MATH 125                                     Calculus II    RW   1/11/2018
51  MATH 341             Probability & Statistical Inference    RW   1/11/2018
52  PHYS 161                         Physics with Calculus 1    RW  11/29/2017
53   PSY 303  Experimental Approaches in Research Psychology    RW  11/29/2017

In [16]:
df = df.dropna()
df.head()

      CLASS                              NAME GRADE        DATE
0  MATH 112     Functions & Algebraic Methods    C-   6/16/2014
1  PHIL 102             Introduction to Logic     F   6/17/2014
2  PSY  220     Intro Behavioral Neuroscience    C+   6/17/2014
4  C2C  201  C2C Youth Mentoring I - CLASS  3    A-  12/15/2014
5  CHEM 121         General Chemistry I w/lab    B-    12/16/14

In [18]:
# Make conversion dict
grades = {'A': 4.0, 'A-': 3.7, 'B+': 3.3, 'B': 3.0, 'B-': 2.7, 'C+': 2.3, 'C': 2.0, 'C-': 1.7, 'D+': 1.3, 'D': 1.0, 'D-': 0.7, 'F': 0}

In [27]:
grade_nums = []
for i in df['GRADE']:
    if i not in grades:
        grade_nums.append('NaN')
    else:
        grade_nums.append(grades[i])

df['GRADE_NUMS'] = np.array(grade_nums).astype('float64')
df

,CLASS,NAME,GRADE,DATE,GRADE_NUMS
0,MATH 112,Functions & Algebraic Methods,C-,6/16/2014,1.7
1,PHIL 102,Introduction to Logic,F,6/17/2014,0.0
2,PSY 220,Intro Behavioral Neuroscience,C+,6/17/2014,2.3
4,C2C 201,C2C Youth Mentoring I - CLASS 3,A-,12/15/2014,3.7
5,CHEM 121,General Chemistry I w/lab,B-,12/16/14,2.7
6,PHIL 102,Introduction to Logic,A,12/15/2014,4.0
7,PHIL 320,Ethical Theory 1,A,12/15/2014,4.0
9,PHIL 114,Intro: Knowledge & Reality,A,3/23/2015,4.0
10,PSY 210,Cognition,B-,3/18/2015,2.7
11,PSY 301,Overview of Research Methods,B+,4/7/2015,3.3
13,BIOL 204,"Intro to Evol, Ecol, Biodiversity",B,6/23/2015,3.0
14,CHEM 122,General Chemistry II w/lab,B+,6/15/2015,3.3
15,PHIL 367,History of Phil: Empiricists,C,6/11/2015,2.0
17,CHEM 123,General Chemistry III w/lab,B-,12/15/2015,2.7
18,CSCI 141,Computer Programming 1 W/lab,XM,11/30/2015,NaN
19,PHIL 112,Intro: Moral Issues,A-,12/14/2015,3.7
20,PSY 320,Topics Behavioral Neuroscience,B+,12/15/2015,3.3
22,BIOL 205,Intro to Cellulr/Moleclr Biol,B,3/21/2016,3.0
24,BIOL 206,Intro to Organismal Biology,A-,6/13/2016,3.7
25,CHEM 351,Organic Chemistry,B+,6/14/2016,3.3
26,ECON 206,Intro to Microeconomics,A,6/10/2016,4.0
27,PLSC 261,Intro to Political Theory,A-,6/13/2016,3.7
29,CHEM 352,Organic Chemistry,B,12/13/2016,3.0
30,PSY 319,Cognitive Neuroscience,A,12/12/2016,4.0
31,PSY 327,Cognitive Neuroscience Lab,XM,12/1/2016,NaN
32,PSY 328,Tech in Behav Neuro,A-,12/13/2016,3.7
34,BIOL 321,Genetics,B+,3/21/2017,3.3
35,CHEM 353,Organic Chemistry,B+,3/20/2017,3.3
36,PHIL 420,Ethical Theory II,A,3/21/2017,4.0
37,PSY 321,Learning,B+,3/15/2017,3.3
39,BIOL 323,Cell and Molecular Biology,A,6/13/2017,4.0
40,CHEM 354,Organic Chemistry Lab I,B,6/9/2017,3.0
41,CSCI 474,Bioinformatics,A,6/12/2017,4.0
43,PSY 323,Psychopharmacology,A,8/16/2017,4.0
44,PSY 397R,Intro to Matlab,A,8/7/2017,4.0
46,CHEM 375,Elements of Biochemistry,A,12/19/2017,4.0
47,INTL 201,Intro to Global Studies,A,12/19/2017,4.0
48,MATH 124,Calculus & Analytical Geometry I,A,12/15/2017,4.0
50,MATH 125,Calculus II,RW,1/11/2018,NaN
51,MATH 341,Probability & Statistical Inference,RW,1/11/2018,NaN
52,PHYS 161,Physics with Calculus 1,RW,11/29/2017,NaN
53,PSY 303,Experimental Approaches in Research Psychology,RW,11/29/2017,NaN